* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande';
    color: rgb(19, 28, 129);
}

.header {
    /* display: flex; */
    justify-content: space-between;
    padding: 20px;
    background: #19ea31;
    color: #fff;
}

/* h1 {
  font-style: bold;
  border: rgb(19, 28, 129);
  border-width: 50%;
} */

.header nav {
float: right;
padding-top: 15px;
margin-right: 20px;
width: 70%;
}

.header nav ul {
  display: flex;
  justify-content: space-evenly;
  border: solid rgb(19, 28, 129);
  width: 50%;
 /* flex-direction:row; */
  
}

img {
height: 200px;
width: 200px;
border: solid rgb(19, 28, 129);
border-width: 5px;
} 

.description img {
  height: 200px;
  width: 200px; 
} 

.description p {
padding-right: 40px;
}

.prework-study-guide img {
height: 500px;
width: 700px;
display: flex;
}

.placeholder img, .horiseon-challenge img {
height: 300px;
width: 300px;
display: flex;
justify-content: center;
}

.footer nav ul {
  display: flex;
  justify-content: space-evenly;
  border: solid rgb(19, 28, 129);
  width: 70%;
  padding: 10px;
}

@media screen and (max-width: 992px) {
  .prework-study-guide img {
    width: 350px;
  }
}

@media screen and (max-width: 992px) {
    .horiseon-challenge img, .placeholder img {
      width: 200px;
    }
}

@media screen and (max-width: 500px) {
  .prework-study-guide img {
    width: 250px;
  }
}

@media screen and (max-width: 500px) {
    .horiseon-challenge img, .placeholder img {
      width: 100px;
    }
}
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  }