/* Organized CSS selectors to align with the structure of the HTML docuement  */
/* Universal selectors */
* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande';
    color: rgb(19, 28, 129);
}

/* Class Selectors and features*/
.header {
    justify-content: space-between;
    padding: 20px;
    background-color: #86e7f0;
    color: #fff;
    
}

.header nav {
float: right;
padding-top: 15px;
margin-right: 20px;
width: 70%;
}

.header nav ul {
  display: flex;
  justify-content: space-evenly;
  border: solid rgb(19, 28, 129);
  width: 50%;  
}

/* Element selector */
img {
height: 200px;
width: 200px;
border: solid rgb(19, 28, 129);
border-width: 5px;
} 

/* Class Selectors */
.description img {
  height: 200px;
  width: 200px; 
} 

/* Added padding keep text further right */
.description p {
padding-right: 40px;
}

/* This is image must be larger */
.prework-study-guide img {
height: 500px;
width: 700px;
display:-webkit-inline-flex;
}

/* These images will all be equal in size */
.placeholder img, .horiseon-challenge img {
height: 300px;
width: 300px;
display: flex;
justify-content: center;
}

body {
  background-color: rgb(232, 239, 239);
  background-size: cover;
}

.placeholder, .horiseon-challenge {
  text-align: center;
}

.prework-study-guide {
text-align:center;
}

.footer nav ul {
  display: flex;
  justify-content: space-evenly;
  border: solid rgb(19, 28, 129);
  width: 70%;
  padding: 10px;
  margin-left: 135px;
}

/* Added different max-width adjustments so the website adjusts to different size screens */
@media screen and (max-width: 992px) {
  .prework-study-guide img {
    width: 350px;
  }
}

@media screen and (max-width: 992px) {
    .horiseon-challenge img, .placeholder img {
      width: 200px;
    }
}

@media screen and (max-width: 500px) {
  .prework-study-guide img {
    width: 250px;
  }
}

@media screen and (max-width: 500px) {
    .horiseon-challenge img, .placeholder img {
      width: 100px;
    }
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  }